/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/
/node_modules/
web/bower_components/
/bower_components/
/web/css/
/web/js/
/web/assets/
/web/images/
/web/fonts/
/.idea/