{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Regimes list!</h1>
    {% for regime in regimes %}
        {{ regime.id }}
        {{ regime.title }}
        {{ regime.description }} <br>
    {% endfor %}
{% endblock %}