<div class="col-sm-3 sideNav">
    <div class="profile">
        <nav>
            <ul>
                <li> <a href="">Treniruočių programos</a> </li>
                <li> <a href="">Reitinguotos programos</a> </li>
                <li> <a href="">Rodyti progresa</a> </li>
            </ul>
        </nav>
    </div>
</div>