<div class="col-sm-2">
    <div class="sideNav">
        <h2 class="info"> TOP TRENERIAI</h2>
        <div class="profile">
            <nav>
                <ul>
                    <li>
                        <a href="/showProfile"> Nick</a>
                    </li>
                    <li>
                        <a href="/showProfile"> Nick</a>
                    </li>
                    <li>
                        <a href="/showProfile"> Nick</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>