<div class="col-sm-2">
    <h3> Top 3 treneriai</h3>
    <div class="profile">
        <p>Kazkas1</p>
        <a href="" class="actionLink"> Susisiekite</a>
    </div>
    <div class="profile">
        <p>Kazkas2</p>
        <a href="" class="actionLink"> Susisiekite</a>
    </div>
    <div class="profile">
        <p>Kazkas3</p>
        <a href="" class="actionLink"> Susisiekite</a>
    </div>
</div>