.container
{
    padding:0px;
    background:url('../images/body_top_bg.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
}

body
{
    background-color: rgba(119, 176, 145, 0.17);
    margin-top:55px;
}

.fixed
{
    position: fixed;
}


.profile
{
    padding:20px;
    padding-top:0px;
    border-radius:10px;
    margin-bottom:15px;
}

.profile a
{
    color: #5c5c5c;
    border:0px solid;
    padding:10px;
    background-color: white;
    transition: 1s all;
    border-radius: 2px;
}

.profile a:hover
{
    background-color: orange;
    text-decoration: none;
}

h3
{
    margin-bottom:20px;
    margin-top:0px;
}

.col-sm-3, .col-sm-7, .col-sm-2
{
    margin-top:25px;
}

.fixed
{
    position:fixed;
}

.sideNav .profile nav ul
{
    list-style-type: none;
    width: 100%;
    padding:0px;
    margin:0px;
}

.sideNav .profile nav ul li
{
    margin-bottom:25px;
}

.sideNav .profile nav ul li:last-child
{
    margin-bottom:0px;
}

.sideNav .profile nav ul li a
{
    display:block;
}

nav .searchBar li
{
    list-style-type: none;
    display: inline;
    float:left;
    height: 30px;
}

nav .searchBar
{
    padding:0px;
    margin:0px;
    height: 50px;
}

.searchText
{
    height:40px;
}

.searchNav
{
    background-color: #64dce4;
    width: 100%;
}

.buttonRow
{
    margin-bottom: 0px;
}

.programName
{
    font-size: 35px;
}

.info
{
    background: none repeat scroll 0 0 #222222;
    color: #fff;
    font-size: 26px;
    margin-top:0px;
    padding: 14px;
    text-transform: uppercase;
    width: 100%;
    font-family:Oswald;
}

.loginInfo
{
    color:orange;
    font-size:20px;
}

.col-sm-2
{
    background: url('../images/slider_bg.png');
    padding:0px;
}
