@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900");


	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-o-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		background: #f5ca23;
		border-radius: 6px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.75em 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: 1.2em;
		font-weight: 600;
		color: #FFF !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background: #fcbe07;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			border: 1px solid #FFF;
			color: #0f1116;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].medium,
		input[type="reset"].medium,
		input[type="button"].medium,
		.button.medium {
			padding: 0.80em 2em;
			font-size: 1.6em;
		}

/* Page */

	#page {
		position: relative;
		background: #FFF;
		padding: 6em 4em 6em 4em;
		border-radius: 6px;
	}


/* Box */

	.box {
		padding: 3em 2em;
		background: rgba(19, 35, 47, 0.9);
		text-align: center;
		border-radius: 8px 8px 8px 8px;
		word-wrap: break-word;
		height:500px;
		color:white;
	}

	div section
	{
		margin-top:15px;
		margin-bottom:15px;
	}

	a:hover
	{
		text-decoration: none;
	}

.infoStar
{
	font-size:200%;
	color:orange;
}

input[type=text] {
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid rgb(245, 202, 35);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
    background-image: url('../images/searchicon.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px;
	width: 100%;
}

input[type=text]:focus {
	border: 3px solid rgb(255, 239, 34);
}

.workoutsNotFound
{
    margin:40px 20px 40px 20px;
    text-align: center;
    color:white;
    font-family: Oswald;
    font-weight: 700;
    font-size:20px;
}

input
{
	color: black;
}

.weightSave
{
	width: 200px;
}

.weightSave:hover
{
	background: #fcbe07;
}

.weightDescription
{
	font-family: "DejaVu Sans";
	font-weight: 700;
	font-size:30px;
}

.weightInput
{
	height: 50px;
	width: 100px;
}