textarea[readonly="readonly"], textarea[readonly]
{
    background-color: rgba(253, 253, 253, 0.89) !important;
}

.veryEasyInfo
{
    text-align:center;
    background-color: #00c600;
    font-size:30px;
    font-family: "Abyssinica SIL";
}

.easyInfo
{
    text-align:center;
    background-color: #009100;
    font-size:30px;
    font-family: "Abyssinica SIL";
}

.mediumInfo
{
    text-align:center;
    background-color: #b4b400;
    font-size:30px;
    font-family: "Abyssinica SIL";
}

.hardInfo
{
    text-align:center;
    background-color: #f00000;
    font-size:30px;
    font-family: "Abyssinica SIL";
}

.veryHardInfo
{
    text-align:center;
    background-color: #990000;
    font-size:30px;
    font-family: "Abyssinica SIL";
}

.center-block {
    display: table;
    margin: 0 auto;
    height: 50px;
    width: 100%;
}

.center-block span
{
    display: table-cell;
    vertical-align: middle;
}

.coloredStar:before
{
    content: "\2605";
    position: absolute;
    cursor: pointer;
    color: yellow;
}

.rating
{
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating label
{
    display: inline-block;
    position: relative;
    font-size:50px;
}

.rating label:hover:before,
.rating label:hover ~ label:before
{
    content: "\2605";
    position: absolute;
    cursor: pointer;
    color: yellow;
}

.radio_item
{
    display: none !important;
}
