.container
{
    padding:0px;
}
.coachInfo
{
    text-align: right;
    font-size:16px;
}

.program
{
    border: 1px solid;
    border-color: rgba(3, 167, 169, 0.78);
    padding:10px;
    background-color:white;
    transition:1.5s all;
    margin:20px;
    border-radius: 15px;
}

.program:hover
{
    background-color: #e5fdff;
    border-color:white;
}

body
{
    background-color: rgba(119, 176, 145, 0.17);
    margin-top:55px;
}

.fixed
{
    position: fixed;
}


.profile
{
    background-color: rgba(14, 25, 39, 0.27);
    padding:20px;
    border-radius:10px;
    margin-bottom:15px;
    box-shadow: 7px 7px 2px #2f6288;
}

.profile a
{
    color: #5c5c5c;
    border:1px solid;
    padding:10px;
    background-color: #e6deff;
    transition: 2s all;
    border-radius: 5px;
}

.profile a:hover
{
    color: #d2d2d2;
    background-color: rgb(67, 67, 67);
    text-decoration: none;
}

.actionLink
{
    color: #062725;
    padding:10px;
    background-color: #d9fff7;
    transition: 2s all;
    text-align: center;
}

.actionLink:hover
{
    color: white;
    background-color: rgba(7, 29, 24, 0.9);
    text-decoration: none;
}

h3
{
    margin-bottom:20px;
    margin-top:0px;
}

.col-sm-3, .col-sm-7, .col-sm-2
{
    margin-top:25px;
}

.fixed
{
    position:fixed;
}

.sideNav .profile nav ul
{
    list-style-type: none;
    width: 100%;
    padding:0px;
    margin:0px;
}

.sideNav .profile nav ul li
{
    margin-bottom:25px;
}

.sideNav .profile nav ul li:last-child
{
    margin-bottom:0px;
}

.sideNav .profile nav ul li a
{
    display:block;
}

nav .searchBar li
{
    list-style-type: none;
    display: inline;
    float:left;
    height: 30px;
}

nav .searchBar
{
    padding:0px;
    margin:0px;
    height: 50px;
}

.searchText
{
    height:40px;
}

.searchNav
{
    background-color: #64dce4;
    width: 100%;
}

.buttonRow
{
    margin-bottom: 0px;
}

.programName
{
    font-family: Padauk;
    font-size: 35px;
}

